---
import { Image } from "astro:assets";
import Instagram from "./instagram.svg";
import Mail from "./mail.svg";
import Github from "./github.svg";
import Rss from "./rss.svg";
import LinkedIn from "./linkedin.svg";

interface Props {
    icon_type: string;
}
const { icon_type } = Astro.props as Props;
var href: string;
var iconSrc: ImageMetadata;

if (icon_type === "instagram") {
    href = "https://www.instagram.com/kevkaleido/";
    iconSrc = Instagram;
} else if (icon_type === "mail") {
    href = "mailto:kelvinkalumba189@gmail.com";
    iconSrc = Mail;
} else if (icon_type === "github") {
    href = "https://github.com/kevkaleido";
    iconSrc = Github;
} else if (icon_type === "linkedin") {
    href = "https://www.linkedin.com/in/kelvin-m-747561315/";
    iconSrc = LinkedIn;
} else {
    href = "/rss.xml";
    iconSrc = Rss;
}
---

<a
class="group relative inline-block p-2 transition-all duration-300 ease-in-out hover:scale-105"
    target="_blank"
    rel="noopener noreferrer"
    href={href}
    aria-label={icon_type}
>
    <span class="absolute inset-0 bg-gradient-to-br from-blue-100 to-pink-100 rounded-full opacity-0 transition-opacity duration-300 group-hover:opacity-30 dark:from-blue-900 dark:to-purple-900"></span>
    <Image
        class="h-5 w-5 fill-current text-gray-700 transition-all duration-300 group-hover:text-indigo-600 group-hover:drop-shadow-sm dark:text-gray-300 dark:group-hover:text-indigo-400"
        src={iconSrc}
        alt=""
    />
</a>
