---
import { Image } from "astro:assets";
import TypedText from "./TypedText";
---

<div class="lg:mb-10 lg:mt-10">
  <h1
    class="bg-gradient-to-r from-sky-400 via-indigo-300 to-teal-300 bg-clip-text text-6xl font-extrabold text-transparent dark:to-cyan-500 dark:from-indigo-600"
    style="text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);"
  >
    Hi there!
  </h1>
  <div class="prose dark:prose-invert lg:prose-lg">
    <p class="text-teal-600 dark:text-sky-300 leading-relaxed tracking-wider">
    </p>
    <b class="bg-clip-text text-transparent bg-gradient-to-r from-sky-600 to-teal-400">Welcome to a world where I'm 

    <div class="bg-clip-text text-transparent bg-gradient-to-r from-sky-600 to-teal-400">
      <TypedText
        client:load
        messages={[
          "a tech tinkerer with an artist’s eye ",
          "an aesthetics junkie",
          "a budding developer ",
          "fascinated by the potential of Artificial Intelligence",
          
        ]}
      />
    </div>
    <p class="mt-4 text-gray-700 dark:text-gray-300">
      I started learning to code 5 months ago, and I am surprised and glad how far I've come and how far I could go. I am looking for a chance to contribute my unique web tinkering to tech.
    </p>
  </div>
</div>
