---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import LOGO from "./images/logo.png";
---

<header>
  <nav class="flex items-center justify-between py-10">
    <div>
      <a href="/">
        <div class="flex items-center justify-between gap-3">
          <img
            class="rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300 ease-in-out"
            src={LOGO.src}
            alt="logo"
            width={36}
            height={36}
          />
        </div>
      </a>
    </div>

    <div class="flex items-center text-base leading-6 gap-6">
      <HeaderLink
        href="/"
        class="text-sky-600 dark:text-sky-400 hover:text-teal-500 transition-colors duration-300"
      >
        Home
      </HeaderLink>
      <HeaderLink
        href="/blog"
        class="text-sky-600 dark:text-sky-400 hover:text-teal-500 transition-colors duration-300"
      >
        Blog
      </HeaderLink>
      <HeaderLink
        href="/about"
        class="text-sky-600 dark:text-sky-400 hover:text-teal-500 transition-colors duration-300"
      >
        About
      </HeaderLink>
      <ThemeIcon />
    </div>
  </nav>
</header>
