---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import LOGO from "./images/logo.png";
---

<header>
  <nav class="flex items-center justify-between py-10">
    <div>
      <a href="/">
        <div class="flex items-center justify-between gap-3">
          <img
            class="rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300 ease-in-out"
            src={LOGO.src}
            alt="logo"
            width={36}
            height={36}
          />
        </div>
      </a>
    </div>

    <div class="flex items-center text-base leading-6 gap-6">
      <HeaderLink
        href="/"
        class="relative group text-gray-700 dark:text-gray-300 transition-colors duration-300 hover:text-gray-900 dark:hover:text-gray-100"
      >
        Home
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-gray-400 dark:bg-gray-600 transition-all duration-300 group-hover:w-full"></span>
      </HeaderLink>
      <HeaderLink
        href="/blog"
        class="relative group text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-teal-300 dark:from-indigo-600 dark:to-cyan-500 transition-colors duration-300 hover:from-sky-500 hover:to-teal-400 dark:hover:from-indigo-500 dark:hover:to-cyan-400"
      >
        Blog
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-gradient-to-r from-sky-400 to-teal-300 dark:from-indigo-600 dark:to-cyan-500 transition-all duration-300 group-hover:w-full"></span>
      </HeaderLink>
      <HeaderLink
        href="/about"
        class="relative group text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-teal-300 dark:from-indigo-600 dark:to-cyan-500 transition-colors duration-300 hover:from-sky-500 hover:to-teal-400 dark:hover:from-indigo-500 dark:hover:to-cyan-400"
      >
        About
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-gradient-to-r from-sky-400 to-teal-300 dark:from-indigo-600 dark:to-cyan-500 transition-all duration-300 group-hover:w-full"></span>
      </HeaderLink>
      <ThemeIcon />
    </div>
  </nav>
</header>
